/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Header Styles */
  
  header {
    background-color: #0A246A; /* Drexel Blue */
    color: #F7DC6F; /* Drexel Gold */
    padding: 1em;
    text-align: center;
  }
  
  header .greeting {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #F7DC6F; /* Drexel Gold */
  }
  
  header form {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  header input[type="search"] {
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F7DC6F; /* Drexel Gold */
    color: #0A246A; /* Drexel Blue */
  }
  
  header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 1em;
  }
  
  /* Main Styles */
  
  main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  main .friends_header {
    background-color: #F7DC6F; /* Drexel Gold */
    padding: 1em;
    border-bottom: 1px solid #ddd;
  }
  
  main .friends_header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #0A246A; /* Drexel Blue */
  }
  
  main .friends_header button {
    background-color: #0A246A; /* Drexel Blue */
    color: #F7DC6F; /* Drexel Gold */
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  main .friends_list {
    padding: 1em;
  }
  
  main .friends_list .friend {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ddd;
  }
  
  main .friends_list .friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 1em;
  }
  
  main .friends_list .friend .friend_name {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #0A246A; /* Drexel Blue */
  }
  
  main .friends_list .friend .friend_email {
    font-size: 1em;
    color: #666;
  }
  
  /* Modal Styles */
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F7DC6F; /* Drexel Gold */
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal_content h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #0A246A; /* Drexel Blue */
  }
  
  .modal_content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }