* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif
	font-optical-sizing: auto;
}

.main {
    background-color: #efeee5;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
}

body {
	display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #F0E2D2;
    flex-direction: column;
    margin: 0;
}

ul {
	list-style: none;
	display: flex;
	gap: 3rem;

}

li a{
	color:#efeee5;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 25px;
	padding: 10px 15px;
	transition: 0.6s;
}

li a:hover{
	background-color: var(--text-color--);
}

.active{
	background-color: var(--text-color--);
}

h1 {
	text-align: left;
	color: #5b6d92;
}

h2 {
	text-align: center;
	color: #5b6d92;
}


button {
	padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #D18266;
    width: 100%;
    font-size: 16px;
}
button:hover{
	background-color: #D18266;
	color: #364042;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
