* {
	box-sizing: border-box;
}

#sidebar {
	left: 0;
	position: absolute;
	left: 0;
	width: 25%;
}

.friend {
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	padding: 10px;
}

#main {
	right: 0;
	width: 60%;
	margin-left: 30%;
}

.mini {
	width: 30px;
}

#connections {
	position: sticky;
}
