<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DragonsConnect </title>
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='../static/css/dashboard.css'>
    <script src="https://kit.fontawesome.com/9861975642.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="nav-left">
            <a href="#"><img src="../static/images/logo.png" class="logo"></a>
            <ul>
                <li><img src="/static/images/jess.jpeg"></li>
                <li><img src="~/static/images/inbox.png"></li>
                <li><img src="~/static/images/requests.png"></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="~/static/images/search.png">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online" onclick="settingsMenuToggle()">
                <img src="~/static/images/selfie.jpg">
            </div>          
        </div>
    <!-------------settings-menu-------------------->
        <div class="settings-menu">
            <div id="dark-btn" class="dark-btn-on">
                <span></span>
            </div>
            <div class="settings-menu-inner">
                <div class="user-profile header">
                    <img src="~/static/images/selfie.jpg">
                    <div>
                        <p> Hi, Amy!</p> <!--Replace once account management is implemented-->
                        <a href="#">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile header">
                    <img src="~/static/images/feedback.png">
                    <div>
                        <p> Give Feedback</p>
                        <a href="#">Want to help us improve?</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="~/static/images/settings.png" class="settings-icon">
                    <a href="#">Settings & Privacy</a>
                </div>
                <div class="settings-links">
                    <img src="~/static/images/help.png" class="settings-icon">
                    <a href="#">Help & Support</a>
                </div>
                <div class="settings-links">
                    <img src="~/static/images/display.png" class="settings-icon">
                    <a href="#">Display & Accessibility</a>
                </div>
                <div class="settings-links">
                    <img src="~/static/images/logout.png" class="settings-icon">
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-----------left-sidebar---------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><img src="~/static/images/timeline.png"> Timeline</a>
                <a href="#"><img src="~/static/images/messages.png"> Messages</a>
                <a href="#"><img src="~/static/images/friends.png"> Friends</a>
                <a href="#"><img src="~/static/images/settings.png"> Settings</a>
                <a href="#"> See More</a>
            </div>
            <div class="important">
                <p>Important</p>
                <a href="https://dragonlink.drexel.edu/"><img src="~/static/images/events.png">DragonLink</a>
                <a href="https://drexel.edu/studentlife/campus-living/housing/options"><img src="~/static/images/dorms.png">Dorms</a>
                <a href="https://drexel.campusdish.com/"><img src="~/static/images/dining.png">Food</a>
                <a href="https://drexel.edu/~/media/Drexel/Core-Site-Group/Core/Documents/campus-maps/drexel-university-uc.pdf"><img src="~/static/images/map.png">Map</a>
            </div>
        </div>
        <!-----------main-content---------->
        <div class="main-content">
            <div class="recommended-people">
                <h3>Recommended For You</h3>
                <div class="people-grid-horizontal">
                    <div class="profile-card">
                        <img src="~/static/images/user1.png" alt="Jess">
                        <p class="username">Jess, 18</p>
                        <p class="match-info">Likes hiking & boba 🧋</p>
                        <button class="connect-btn">Connect</button>
                    </div>
                    <div class="profile-card">
                        <img src="~/static/images/user2.png" alt="Kofi">
                        <p class="username">Kofi, 19</p>
                        <p class="match-info">Gamer 🎮 | Music lover</p>
                        <button class="connect-btn">Connect</button>
                    </div>
                    <div class="profile-card">
                        <img src="~/static/images/user3.png" alt="Lina">
                        <p class="username">Lina, 18</p>
                        <p class="match-info">Coffee + Bookworm 📚</p>
                        <button class="connect-btn">Connect</button>
                    </div>
                </div>
            </div>
            <div class="write-post-container">
                <div class="user-profile">
                    <img src="~/static/images/selfie.jpg">
                    <div>
                        <p>Amy</p>
                        <small>Public <i class="fa-solid fa-caret-down"></i></small>
                    </div>
                </div>
                <div class="post-input-container">
                    <textarea rows="3" placeholder="What's on your mind?"></textarea>
                    <div class="add-post-links">
                        <a href="#" class="post-btn"><img src="~/static/images/post.png"> Post</a>
                    </div>
                
                </div>
            </div>
            
            <div class="post-container">
                <div class="user-profile">
                    <img src="~/static/images/selfie.jpg">
                    <div>
                        <p>Amy</p>
                        <span>April 12, 2025, 12:33 PM</span>
                    </div>
                </div>
                <p class="post-text">Can't wait to meet a lot of people at Drexel! Class of 2030 incoming!</p>
                <img src="~/static/images/feed-image-1.png" class="post-img">

                <div class="post-row">
                    <div class="activity-icons">
                        <div><img src="~/static/images/like.png"> 5</div>
                        <div><img src="~/static/images/comment.png"> 2</div>
                        <div><img src="~/static/images/share.png"> 1</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="~/static/images/selfie.jpg"> <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-----------right-sidebar---------->
        <div class="right-sidebar">
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>
            <div id="event-list">
                <!-- Events will be inserted here dynamically by JavaScript -->
            </div>
            <div class="sidebar-title">
                <h4>Drexel University</h4>
            </div>
            <img src="~/static/images/drexel.png" class="sidebar-school">
            
            <div class="sidebar-title">
                <h4>Conversation</h4>
                <a href="#">Hide Chat</a>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="~/static/images/person1.png">
                </div>
                <p>Alissa</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="~/static/images/person2.png">
                </div>
                <p>Joe</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="~/static/images/person3.png">
                </div>
                <p>Rachel</p>
            </div>

        </div>
    </div>
    <script src = "~/static/js/script.js"></script>
</body>
</html>